// ============= Web Font ==============
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("pe-icon-7-stroke.css");

// ============= Web Color ==============

// Default Color
$bg-default: #0984e3;

// Hover Color
$hover-color: #0984e3;

// White Color
$white-color: #ffffff;

// Gray Color
$gray-color: #f2f4f8;

// Dark Color
$dark-color: #151518;

// Heading Color
$heading-color: #3a3a3a;

// Text Color
$text-color: #7b7b7b;

// Green  Color
$bg-green: #4caf50;


// ============= Common CSS ==============

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #7b7b7b;
  overflow-x: hidden;
  position: relative;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #3a3a3a;
}

p {
  color: #7b7b7b;
  font-weight: 400;
  line-height: 1.9;
  font-size: 16px;
}

a {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #3a3a3a;
  &:hover, &:focus, &:active {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #3a3a3a;
  }
}

ol, ul {
  margin: 0;
  padding: 0;
}

ol li, ul li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

.boxed-version {
  width: 1140px;
  margin: 0 auto;
  background-image: url(img/bg-pattern/symphony.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

.container-fluid {
  padding: 0 5%;
}

.apland-table {
  display: table;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
}

.apland-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.btn {
  &:hover, &:focus {
    box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.15);
  }
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-0 {
  margin-left: 0;
}

.ml-15 {
  margin-left: 15px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-0 {
  margin-right: 0;
}

.mr-15 {
  margin-right: 15px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}

.section-padding-150 {
  padding: 150px 0;
}

.section-padding-100 {
  padding: 100px 0;
}

.section-padding-100-0 {
  padding: 100px 0 0 0;
}

.section-padding-0-100 {
  padding: 0 0 100px 0;
}

.section-padding-60 {
  padding: 60px 0;
}

.section-padding-200 {
  padding: 200px 0;
}

.section-padding-100-50 {
  padding-top: 100px;
  padding-bottom: 50px;
}

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px;
}

.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
  h3 {
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 400;
  }
  p {
    font-size: 18px;
    margin-bottom: 0;
  }
  span{
    color: $bg-default;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-heading h3 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .section-heading h3 {
    font-size: 26px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-heading h3 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-heading p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .section-heading p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-heading p {
    font-size: 18px;
  }
}

.shortcode-area:nth-child(2n + 1) {
  background-color: #f2f4f8;
}

.table .table {
  background-color: transparent;
}

  .line {
    width: 100%;
    height: 2px;
    background-color: $white-color;
  }

  .apland-btn {
    border: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 20px 50px;
    position: relative;
    z-index: 1;
    border-radius: 50px;
    line-height: 1;
    background: $bg-default;
    color: $white-color;
    &:hover, &:focus {
      background-color: $white-color;
      color: $bg-default;
      font-size: 15px;
    }
  }

  .bg-gray {
    background-color: #f2f4f8;
  }

  .bg-overlay {
    position: relative;
    z-index: 1;
    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
  }
}
  .bg-img {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }

  .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #ffffff;
    text-align: center;
    padding-right: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    line-height: 26px;
    border-radius: 50%;
  }

  .jarallax {
    position: relative;
    z-index: 0;
    > .jarallax-img {
      position: absolute;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .h-100vh {
    height: 100vh !important;
  }

  .welcome-area.h-100vh {
    padding-top: 0;
  }

  .tooltip-inner,{
    background-color: $bg-default;
  }

  .tooltip.bs-tooltip-top .arrow:before{
    border-top-color: $bg-default;
  }

// ============= PreoLoader ==============

  #preloader {
    overflow: hidden;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    background-color: #f2f4f8; }
  
  .apland-load {
    -webkit-animation: 2000ms linear 0s normal none infinite running apland-load;
    animation: 2000ms linear 0s normal none infinite running apland-load;
    background-color: transparent;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 50px;
    left: calc(50% - 25px);
    position: relative;
    top: calc(50% - 25px);
    width: 50px;
    z-index: 9; }
  
  @-webkit-keyframes apland-load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  @keyframes apland-load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }

  .scroll-to-top {
      border-radius: 3px 0 0 3px;
      bottom: 80px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
      color: $white-color;
      font-size: 20px;
      height: 30px;
      right: 0;
      text-align: center;
      width: 40px;
      position: fixed;
      z-index: 999;
      background-color: $bg-default;
      transition: all .2s ease-in-out; 
      i{
        line-height: 30px;
      }
    }

// ============= Header ==============

header {
  background: $gray-color;
  border-bottom: 1px solid $white-color;
  width: 100%;
  z-index: 10;
  transition: all .2s ease-in-out;
  top: 0;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.15);

  .wrap-header{
    height: 90px;
    width: 100%;
    line-height: 55px;
  }

  .nav-link.active, ul li:hover a {
    color: $bg-default;
  }

  .login-btn {
    padding: 0.5em 1.5em;
    border-radius: 30px;
    margin-left: 50px;
    background: $bg-default;
    a{
    color: #ffffff;
    display: block;
    }
    &:hover{
      opacity: 0.9;
    }
  }
  .dropdown-menu.show {
    border: none;
    box-shadow: 0 3px 30px 15px rgba(0, 0, 0, 0.1);
    min-width: 12em;
    padding: 15px 0px;
    line-height: 10px;
    a{
      color: $text-color;
    }
    a:hover{
      color: $white-color;
    }
}

  .dropdown-item {
    font-weight: 500;
    color: $text-color;
    font-size: 13px;
    line-height: normal;
    &:hover {
        font-weight: 500;
        color: $white-color;
        font-size: 13px;
        background: $hover-color;
    }
    &:focus {
        font-weight: 500;
        color: $white-color;
        font-size: 13px;
    }
  }
}
  .navbar-toggler-icon {
    background-image: url("../images/toggler.svg");
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }

  .shrink{
    position: fixed;
    width: 100%;
  }

// ============= Welcome ============== 

.welcome{
  padding-top: 90px;
  background: $gray-color;
  height: 850px;
  position: relative;
  z-index: 1;
  .welcome-text{
    h2{
    color: #3a3a3a;
    font-size: 5em;
    margin-bottom: 30px;
    }
    p{
    color: #3a3a3a;
    font-size: 22px;
    }
  }
  .welcome-thumb{
    position: relative;
    z-index: 1;
  }
}

.welcome-buble-1, .welcome-buble-2, .welcome-buble-3, .welcome-buble-4{
  background-color: $bg-default;
}

.welcome-buble-1{
  border-radius: 50%;
  height: 500px;
  position: absolute;
  right: -10%;
  top: 50%;
  width: 500px;
  z-index: -5;
  opacity: 0.15;
}

.welcome-buble-2{
  border-radius: 50%;
  bottom: 150px;
  height: 300px;
  position: absolute;
  right: 150px;
  width: 300px;
  z-index: 5;
  opacity: 0.2;
}

.welcome-buble-3{
  border-radius: 50%;
  bottom: 20px;
  height: 200px;
  position: absolute;
  right: 280px;
  width: 200px;
  z-index: 9;
  opacity: 0.15;
}

.welcome-buble-4{
  border-radius: 50%;
  bottom: 385px;
  height: 100px;
  position: absolute;
  right: 350px;
  width: 100px;
  z-index: 5;
  opacity: 0.11;
}


.about{
  .description-detail{
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 30px 40px 30px 30px;
    position: relative;
    text-align: center;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    background-color: $gray-color;

    &:hover, &.active{
      background-color: $bg-default;
      h3, p{
        color: $white-color;
      }  
    }

    .feature-icon{
    border-radius: 50%;
    height: 50px;
    right: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
    margin-top: -25px;
    text-align: center;
    background-color: $bg-default;
    
      &::before{
        content: "";
        height: 3px;
        left: 50%;
        margin-top: -1.5px;
        position: absolute;
        top: 50%;
        width: 120px;
        z-index: -5;
        background-color: $bg-default;
      }

      &::after{
        content: "";
        height: 20px;
        left: calc(50% + 110px);
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 20px;
        z-index: 9;
        border-radius: 50%;
        -webkit-animation: sonarWave 2s linear infinite;
        animation: sonarWave 2s linear infinite;
        background-color: $bg-default;
      }

      @-webkit-keyframes sonarWave {
        from {
          opacity: 1; }
        to {
          -webkit-transform: scale(2);
          transform: scale(2);
          opacity: 0; } }
      @keyframes sonarWave {
        from {
          opacity: 1; }
        to {
          -webkit-transform: scale(2);
          transform: scale(2);
          opacity: 0; } }

      i{
        color:$white-color;
        display: block;
        font-size: 24px;
        line-height: 50px;
      }
    }
  }
}

// ============= Video Parallax ============== 

.video-parallax{
  position: relative;
  background-image: url("../images/video-img.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 700px;
  width: 100%;

  &::before{
    content: "";
    position: absolute;
    background: linear-gradient(to right, #0d104d, #28408b);
    opacity: 0.9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .video-parallax-text{

    h3{
      color: $white-color;
      font-size: 4em;
    }

    p{
      color: $white-color;
      font-size: 18px;
    }

    .video-btn{
      color: #ffffff;
      display: inline-block;
      font-size: 3em;
      width: 80px;
      height: 80px;
      border: 3px solid #ffffff;
      line-height: 80px;
      border-radius: 50%;
      padding-left: 8px;
      margin-top: 50px;
    }
  }
}

// ============= About-image ============== 

.about-app{
  .about-image{
    display: block;
    position: relative;
  }
  .small-thumb{
    position: absolute;
    bottom: 0;
    left: 170px;
    z-index: -5;
    height: auto;
  }
  h3{
    font-size: 2.3em;
    line-height: 1.3;
  }
}

// ============= Benefits ============== 

.benefits{
  background-color: $gray-color;
  
  .benefit-item{
    .benefit-icon{
      font-size: 4em;
      i{
        background: #0984e3;
        background: -webkit-linear-gradient(to right, #FC466B, #0984e3);
        background: linear-gradient(to right, #FC466B, #0984e3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .active{
        color: $bg-default;
        transition-duration: 500ms;
    }
  }
}

// ============= Work-Process ============== 

.work-process{
  .work-process-item{
    i{
      font-size: 3em;
      display: block;
      background: #0984e3;
      background: -webkit-linear-gradient(to right, #FC466B, #0984e3);
      background: linear-gradient(to right, #FC466B, #0984e3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// ============= Testimonial ============== 

.testimonial{
  background: #0d104d;
  background: -webkit-linear-gradient(to right, #0d104d, #28408b);
  background: linear-gradient(to right, #0d104d, #28408b);
}

.testimonial-item{
  .testimonial-thumb{
    border: 3px solid #ffffff;
    border-radius: 50%;
    height: 80px;
    margin: 0 auto 30px;
    padding: 3px;
    width: 80px;

    img{
      border-radius: 50%;
    }
  }

  .testimonial-text{
    p{
      color: #ffffff;
      font-size: 20px;
      position: relative;
      z-index: 1;
    }

    .testimonial-rating{
      i{
        font-size: 20px;
        color: #ff9800;
      }
    }

    h5{
      color: #ffffff;
      margin-bottom: 5px;
    }

    h6{
      margin-bottom: 0;
      color: #ffffff;
    }
  }
}

.owl-prev, .owl-next{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.1);
  font-size: 20px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;

  &:hover{
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
  }
}

.owl-prev{
  left: -150px;
}

.owl-next{
  right: -150px;
}

.owl-dots{
  text-align: center;
  margin-top: 30px;

  .owl-dot{
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    margin: 0 5px;
    width: 12px;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
  }

  .active{
    background-color: $bg-default;
  }
}


// ============= Features ============== 

.feature{
  background-color: $gray-color;
  .feature-item{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid $white-color;
    i{
      font-size: 4em;
      background: #0984e3;
      background: -webkit-linear-gradient(to right, #FC466B, #0984e3);
      background: linear-gradient(to right, #FC466B, #0984e3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: -20px;
    }   
  }
  .feature-item:last-child{
    border:none;
  }

  .active{
    color: $bg-default;
    transition-duration: 500ms;
  }
}

// ============= Screenshot ============== 
.screenshot{
    .owl-item{
    div{
      margin: 6% 8%;
      transition: margin 0.4s ease;
      opacity: 0.75;
    }

    &.center{
      div{
        cursor: auto;
        margin: 0;
        opacity: 1;
      }
    }
    &:not(.center){
      div{
        &:hover{
          cursor: default;
        }
      }
    }
  }
}


// ============= Pricing ============== 

.pricing{
  .price-item{
    text-align: center;
    background-color: #ffffff;
    border-radius: 6px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 50px;
    border: 3px solid transparent;
    position: relative;
    z-index: 1;

    .price-item-tag p{
      position: absolute;
      padding: 0 20px;
      color: #ffffff;
      margin: 0;
      line-height: 32px;
      height: 34px;
      left: 50%;
      top: -17px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      font-size: 14px;
      background-color: $bg-default;
    }

    .price-item-title{
      padding: 40px 0 30px 0;
      text-transform: capitalize;
    }

    .price-item-price h4{
      font-size: 4em;
      line-height: 1;
      background: #0984e3;
      background: -webkit-linear-gradient(to right, #FC466B, #0984e3);
      background: linear-gradient(to right, #FC466B, #0984e3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .price-item-button{
      padding: 20px 0 40px 0;
    }
    &.active{
      transform: scale(1.05);
    }
  }
}

// ============= Subcriber ============== 

.subcriber{
  background: #0d104d;
  background: -webkit-linear-gradient(to right, #0d104d, #28408b);
  background: linear-gradient(to right, #0d104d, #28408b);
  
  span, h3{
    color: $white-color;
    font-weight: 300;
    font-size: 1.7rem;
    text-transform: unset;
  }
}

// ============= Team ============== 

.team{
  .team-profile-line{
    margin: 15px 0;
    width: 100%;
    height: 1px;
    background-color: #f2f4f8;
  }
}

// ============= FAQ ============== 

.faq{
  .accordion-item{
    h5{
      text-transform: uppercase;
      margin: 0;
      a{
        span{
          &.accor-open{
            opacity: 0;
          }
        }
      }
    }
    
    a{
      border-radius: 3px;
      display: block;
      font-size: 14px;
      padding: 20px 45px 20px 20px;
      position: relative;
      background-color: $bg-default;
      color: $white-color;
      span{
        font-size: 14px;
        right: 15px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 10;
        color: #ffffff;
      }

      &.collapsed{
        background-color: #ffffff;
        color: #3a3a3a;

        span{
          color: $heading-color;
          &.accor-open{
            opacity: 1;
          }

          &.accor-close{
            opacity: 0;
          }
        }
      }
    }
    .accordion-content{
      background-color: #ffffff;
      box-shadow: none;

      p{
        padding: 20px 20px 10px;
      }
    }    
  }
  .find-answer{
    border-radius: 5px;
    padding: 30px 25px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);

    a{
      display: block;
      max-width: 200px;
      margin: 0 auto;
    }

    a:last-child{
      margin-top: 18px;
    }
  }
}

// ============= Newsletter ============== 

.newsletter{
  background: #0d104d;
  background: -webkit-linear-gradient(to right, #0d104d, #28408b);
  background: linear-gradient(to right, #0d104d, #28408b);

  h3{
    color: $white-color;
  }

  input{
    width: 400px;
    height: 55px;
    border-radius: 30px;
    padding: 15px 30px;
  }
}

// ============= History ============== 

.history{
  .history-timeline{
    .history-timeline-block{
      position: relative;
      z-index: 1;
      .timeline-icon{
        border-radius: 50%;
        color: #ffffff;
        height: 40px;
        left: 50%;
        margin-left: -20px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 40px;
        z-index: 9;
        border: 3px solid #ffffff;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
        background-color: #0984e3;
        i{
          font-size: 18px;
          line-height: 34px;
        }
      }

      .timeline-content{
        width: calc(50% - 50px);
        background-color: #f2f4f8;
        border-radius: 5px;
        padding: 20px;
        position: relative;
        z-index: 1;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;

        &:before{
          background-color: #f2f4f8;
          content: "";
          height: 100%;
          position: absolute;
          top: 0;
          width: 2px;
          z-index: -5;
        }
        &:after{
          background-color: #f2f4f8;
          content: "";
          height: 30px;
          position: absolute;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          width: 30px;
          z-index: -9;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
        }
      }

      &.odd{
        .timeline-content{
          float: right;
        }
      }

      &:before{
        left: calc(100% + 49px);
      }
      &.even{
        text-align: right;

        .timeline-content:before{
          right: -50px;
        }

        .timeline-content:after{
          top: 8px;
          right: -5px;
        }        
      }
      &.odd{
        text-align: left;
        
        .timeline-content:before{
          left: -51px;
        }

        .timeline-content:after{
          top: 8px;
          left: -5px;
        }
      }
    }
  }
}

// ============= Download ============== 

.download{
  background: #0d104d;
  background: -webkit-linear-gradient(to right, #0d104d, #28408b);
  background: linear-gradient(to right, #0d104d, #28408b);
  h3, p{
    color: $white-color;
  }

  a{
    background-color: $white-color;
    color: $bg-default;
  }
}

// ============= Map ============== 

.map{
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;

  iframe{
    position: relative;
    overflow: hidden;
  }
}

// ============= Map ============== 

.message{
  position: relative;
  max-height: 500px;

  .apland-contact-form{
    padding: 50px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    top: -200px;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  }

  input{
    border-width: 2px;
    border-style: solid;
    border-color: #f2f4f8;
    height: 50px;
    margin-bottom: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    box-shadow: none;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
  }

  textarea{
    border-width: 2px;
    border-style: solid;
    border-color: #f2f4f8;
    margin-bottom: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    box-shadow: none;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
  }
}

// ============= Map ============== 

footer{
  background: $gray-color;
  z-index: 10;
  .footer-social{
   a{
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #ffffff;
    line-height: 40px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    margin: 0 5px;

      &:hover{
        background-color: $bg-default;
        color: $white-color;
      }
    } 
  }

  .footer-menu{
    ul{
      li{
        display: inline-block;

        a{
          font-weight: 300;
          padding: 0 15px;
          border-right: 1px solid $gray-color;

          &:hover{
            color: $bg-default;
          }
        }
      }
    }
  }
  
  .footer-copywrite{
    i{
      color: $bg-default;
    }
    span{
      color: $bg-default;
      font-weight: 500;
    }
  }  
}
